/*
Name: Lois Abrokwaa
Date created: 3/27
Date last edited: 4/2
Version: 1.0
Description: Homework 1 CSS 
*/

header {
    width: 100%;
    background-color: palevioletred;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:paleturquoise;
    margin: 0;
    height: 100%;
    min-height: 100vh; 
}

form {
    flex-grow: 1;
}

h1, h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    flex-grow: 1;
}

h1, h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    flex-grow: 1;
}

main {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    flex-grow: 1;
}

.image {
    text-align: left;
}

.td1 {
    text-align: right;
    font-family: "optima", 'Times New Roman', Times, serif
    font-weight: normal;
}

th {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: red;
    height: 2.0rem;
}

#footer {
    text-align: right;
    font-family: ti;
    font-weight: normal;
    margin-right: 10px;
}


label {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

input {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

textarea {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

#today {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
    margin-right: 5px;
}

p {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

.error {
    color: red;
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.pword-message {
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    position: relative;
    left: 100px;
    background: transparent;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: Pick a color;
}

#review {
    margin-top: 5px;
}

table.output,
tr.output,
td.output {
    width: 500px;
    background-color:red;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: red;
}

td.output {
    width: 500px;
    background-color: red;
    padding: 10px;
    border-spacing: 2px;
}

#alert-box {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
}

#alert-content {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 140px;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
}

#alert-content h4 {
font-size: 20px;
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-weight: normal;
}

#close-alert {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    color: goldenrod;
    border-color:goldenrod;
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
